- content_for :menu do
  = render :partial => "menu"
  = render :partial => "single_menu"

%h2 Are you sure you wish to delete this message?

= render :partial => @message

= link_to "No", messages_path
= button_to "Yes", { :action => "destroy" }, :method => :delete
