- content_for :menu do
  = menu_item "New", new_message_path

- if @messages.empty?
  %p No messages found
- else
  %table
    %tr
      %th Recipients
      %th Content
      %th State
    - @messages.each do |message|
      %tr
        %td
          - message.telephone_numbers.each do |telephone_number|
            = link_to_telephone_number(telephone_number)
        %td= link_to truncate(message.content), message_path(message)
        %td= link_to message.aasm_state, send("#{message.aasm_state}_messages_path")

#actions
  = will_paginate @messages
