- content_for :menu do
  = render :partial => "menu"
  = render :partial => "single_menu"

%h2 Are you sure you wish to delete this telephone number?

= render :partial => @telephone_number

= link_to "No", telephone_numbers_path
= button_to "Yes", { :action => "destroy" }, :method => :delete
