%fieldset
  %legend Orange Multi Box gateway
  %ol
    %li
      = f.label :name, "Name<em>*</em>"
      = f.text_field :name
      %small e.g. my orange account
    %li
      = f.label :login, "Login<em>*</em>"
      = f.text_field :login
      %small login of the Orange Multi Box account
    %li
      = f.label :password, "Password<em>*</em>"
      = f.password_field :password
      %small password to the account
