%fieldset
  %legend Contact
  %ol
    %li
      = f.label :name, "Name<em>*</em>"
      = f.text_field :name
    %li
      = f.label :description
      = f.text_field :description
    %li
      = f.label :number, "Number<em>*</em>"
      = f.text_field :number
