- content_for :menu do
  = render :partial => "menu"
  = render :partial => "single_menu"

%h2 Are you sure you wish to delete this contact?

= render :partial => @contact

= button_to "No", { :action => "show" }, :method => :get
= button_to "Yes", { :action => "destroy" }, :method => :delete
