%h1 Listing gateways

#actions= link_to "new", new_gateway_path

%table
  %tr
    %th Name
    %th Type
  - @gateways.each do |gateway|
    %tr
      %td= gateway.name
      %td= gateway.class.to_s.titleize
      %td
        = link_to "show", gateway_path(gateway)
        = link_to "edit", edit_gateway_path(gateway)
        = link_to "delete", delete_gateway_path(gateway)

= will_paginate @gateways
