- form_for @user_session, :url => user_session_path do |f|
  %fieldset
    %legend Login information
    %ol
      %li
        = f.label :login, "Login<em>*</em>"
        = f.text_field :login
      %li
        = f.label :password, "Password<em>*</em>"
        = f.password_field :password
  = f.submit "Login"
  or
  = link_to "Sign up", new_user_path
