!!! Strict
%html{html_attrs}
  %head
    %title sms.jah.pl
    = stylesheet_link_tag "compiled/screen.css", :media => "screen, projection"
    = javascript_include_tag "jquery", "jquery.ui.all.js", "application"
  %body
    #container
      - if @current_user
        #userbar
          %ul
            %li= link_to_unless_current_controller "Profile", user_path, :controller => "user"
            %li= link_to "Log out", delete_user_session_path
      #header
        %h1 sms.jah.pl
      #navigation
        %ul
          %li= link_to_unless_current_controller "Messages", messages_path
          %li= link_to_unless_current_controller "Contacts", contacts_path
          %li= link_to_unless_current_controller "Telephone numbers", telephone_numbers_path
          %li= link_to_unless_current_controller "Gateways", gateways_path
      #content
        - unless flash[:error].nil?
          %div.error= flash[:error]
        - unless flash[:notice].nil?
          %div.notice= flash[:notice]
        - unless flash[:success].nil?
          %div.success= flash[:success]
        = yield
      #container_footer
    #footer
      Copyright &copy; 2008 Jakub Kuźma
