!!! Strict
%html{html_attrs}
  %head
    %title sms.jah.pl
    = stylesheet_link_tag "jquery.autocomplete.css", "compiled/screen.css", :media => "screen, projection"
    = javascript_include_tag "jquery", "jquery.autocomplete.js", "application"
  %body
    #container
      #header
        %h1= link_to "sms.jah.pl", root_path
        #navigation
          %ul
            = navigation_item "Messages", messages_path
            = navigation_item "Contacts", contacts_path
            = navigation_item "Telephone numbers", telephone_numbers_path
            = navigation_item "Gateways", gateways_path
          - if @current_user
            %ul#userbar
              = navigation_item "Profile", user_path, :controller => "user"
              = navigation_item "Log out", delete_user_session_path
      #wrapper
        #main
          #menu
            %ul
              = yield :menu
          = message_block :flash_types => [:error, :success, :notice]
          #content
            = yield
        #sidebar
          %div.block
            test

    #footer_container
      #footer
        Copyright &copy; 2009 Jakub Kuźma
